<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cordova.realtor" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Realtor</name>
    <description>
       Applicazione di statistica e stime immobiliari 
    </description>
    <author email="dnt.ppe@gmail.com" href="http://dntppe.net">
        Donato Pepe
    </author>
    <content src="index.html" />
    <access origin="http://realtor.dntppe.net" subdomains="true" />

</widget>
